body{
    margin: 0;
}
div{
    display: flex;
}
.nav-li{
    padding-top: 70px;
    justify-content: space-between;
}
ul{
    justify-content: space-between;
    list-style: none;
}
ul a{
    font-size: 18px;

    color: #5f6167;
    text-decoration: none;
}
ul li{
    display: inline;
    padding: 12px;
}

.container{

    width: 100%;
   
}

